<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>CustomProperty</key>
                    <string></string>
                    <key>url</key>
                    <string>https://share.game810.com/download/810game_2_0_0.ipa</string>
                </dict>
                <string></string>
                <string></string>
            </array>
            <key>metadata</key>
            <dict>
                <key>kind</key>
                <string>software</string>
                <key>CustomProperty</key>
                <string></string>
                <key>title</key>
                <string>810游戏</string>
                <key>bundle-identifier</key>
                <string>com.810.fishgame</string>
                <key>bundle-version</key>
                <string>2</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>